/*------------------------------------*\
    #MEDIA QUERIES HOME
\*------------------------------------*/

@media all and (max-width: 625px) {
  .game-menu {
    margin-left: 5% !important;
  }

  .title-holder {
    padding: 8% 0 0 0 !important;
  }
  .title {
    font-size: 65px !important;
      }
  .title-bulb {
    text-shadow: 2px 0px 2px rgba(150, 150, 150, 1);
  }
  .title-bulb:hover{
    color: gold;
    transition: 300ms ease-in;
  }

  .game-btn {
    font-size: 23px !important;
    padding: 0 1% 0.5%;
    
  }
  .silhouette-left {
    height: 450px;
  }

}

@media all and (max-width: 500px) {
  .game-menu {
    margin-left: 5% !important;
  }

  .title-holder {
    padding: 8% 0 0 0 !important;
  }
  .title {
    font-size: 65px !important;
      }
  .title-bulb {
    text-shadow: 2px 0px 2px rgba(150, 150, 150, 1);
  }
  .title-bulb:hover{
    color: gold;
    transition: 300ms ease-in;
  }

  .game-btn {
    font-size: 23px !important;
    padding: 0 1% 0.5%;
    
  }
  .silhouette-left {
    height: 450px;
  }

}