.home-wrapper {
  height: 100%;
  width: auto;
}

.game-menu {
  border: 3px solid orange;
}

.silhouette {
  height: 500px;
  width: auto;
  float: right;
}

.silhouette-left {
  height: 500px;
  width: auto;
  float: left;
}