//  sass --watch src/css:dist/css

@import 'reset';
@import 'defaults';
@import 'fontello.scss';


/*------------------------------------*\
    #GAME-BOARD
\*------------------------------------*/

.game-card {
  animation-duration: 150ms !important;
  -webkit-animation-duration: 150ms !important;
  animation-timing-function: ease-in !important;
  -webkit-animating-timing-function: ease-in !important;
}

.game-checkbox {
  display: none;
}

.game-tile input {
  display: none;
}

/*------------------------------------*\
    #COLORS
\*------------------------------------*/

  $white: #ffffff;
  $blue-gray: #bbb0bd;
  $orange: #fd823f;
  $berry: #a30e42;
  $purple: #531b4d;
  $blue: #7986CB;

/*------------------------------------*\
    #HOME
\*------------------------------------*/

.home-wrapper {
  height: 100%;
  width: auto;
}

.game-menu {
  padding: 0 1%;
  margin-left: 6%;
}

.title-holder {
  padding: 7%;
}
.title {
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  color: black;
  font-size: 70px;
  margin-left: 5%;
  margin-right: 1%;
  text-shadow: 3px 3px 0px rgba(121, 134, 203, 1);
}
.title-bulb {
  text-shadow: none;
  color: $blue;
  text-shadow: 2px 0px 2px rgba(150, 150, 150, 1);

}

.title-bulb:hover{
  color: gold;
  transition: 300ms ease-in;
}



.game-btn {
  margin-top: 2%;
  margin-right: 1%;
  background-color: $blue;
  font-family: 'Titillium Web', sans-serif;
  color: $white;
  font-size: 25px;
  padding: 0 1% 0.5%;
  border: 3px solid white;
  border-radius: 10px;
  outline: none;
  border: none;
}
.game-btn:hover{
  color: $blue;
  font-weight: bold;
  background-color: white;
  border: 3px solid gold;
  transition: 500ms;


}
.silhouette {
  height: 500px;
  width: auto;
  float: right;
}

.silhouette-left {
  height: 500px;
  width: auto;
  float: left;
}


/*------------------------------------*\
    #HOVER ANIMATIONS
\*------------------------------------*/

/* from hover.css */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*------------------------------------*\
    #GAME-PLAY
\*------------------------------------*/

.game-play {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.main-content{
  padding: 1%;
}


/*------------------------------------*\
    #TIMER
\*------------------------------------*/
